{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.product_list'|trans }}
{% endblock %}

{% block body %}
    <h1 class = "text-center">{{ 'title.product_list'|trans }}</h1>
    <div class = "text-center">
        <a href="{{ url('product_new') }}" class="btn btn-secondary text-center" role="button" title="{{ 'action.product_new'|trans }}">
            {{ 'action.product_new'|trans }}
        </a>
    </div>

    {% if pagination is defined and pagination|length %}

{#        <div class="navigation text-center">#}
{#            {{ knp_pagination_render(pagination) }}#}
{#        </div>#}

        <table class="table table-striped">
            <thead>
            <tr>
    {% if  is_granted('ROLE_ADMIN') %}
        <th>{{ knp_pagination_sortable(pagination, 'label.product.user'|trans, 'u.name') }}</th>
        {% endif %}
        <th>{{ knp_pagination_sortable(pagination, 'label.product.category_name'|trans, 'c.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.product_name'|trans, 'p.productName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.calories'|trans, 'p.calories') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.carbohydrate'|trans, 'p.carbohydrate') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.protein'|trans, 'p.protein') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.fat'|trans, 'p.fat') }}</th>
                {% if  is_granted('ROLE_ADMIN') == true %}
                <th>{{ knp_pagination_sortable(pagination, 'label.is_accepted'|trans, 'p.isAccepted') }}</th>
                <th>{{ 'label.accept'|trans }}</th>
                <th>{{ 'label.delete'|trans }}</th>
                    {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for product in pagination %}
                {% if product.isAccepted == 0 %}
                <tr class ="table-dark">
                {% else %}
                <tr>
                {% endif %}
                    {% if  is_granted('ROLE_ADMIN') == true %}
                    <td>{{ product.user.name }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ url('product_category', {id: product.category.id}) }}" title="{{ 'product.category.name' }}">
                            {{ product.category.name }}
                        </a>
                    </td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.calories }}</td>
                    <td>{{ product.carbohydrate }}</td>
                    <td>{{ product.protein }}</td>
                    <td>{{ product.fat }}</td>

                    {% if  is_granted('ROLE_ADMIN') == true %}
                        <td>{{ product.isAccepted }}</td>
                        <td>
                        <a href="{{ url('product_accept', {id: product.id}) }}" title="{{ 'action.accept'|trans }}">
                            {{ 'action.accept'|trans }}
                        </a>
                        </td>
                    <td>
                        <a href="{{ url('product_delete', {id: product.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                    {#                    <td>#}
{#                        <a href="{{ url( 'product_view', {id: product.id}) }}" title="{{ 'action.view'|trans }}">#}
{#                            {{ 'action.view'|trans }}#}
{#                        </a>#}
{#                    </td>#}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}